.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .App {
    margin: 0 auto;
  }

  .nav {
    flex-direction: column;
  }
  .signin {
    margin: 0 auto !important;
    padding: 0 !important;
    width: 80% !important;
  }

  .register {
    margin: 0 auto !important;
    padding: 0 !important;
    width: 80% !important;
  }

  .link {
    font-size: 16px !important;
    padding: 0 !important;
  }

  .nav p {
    margin-right: 5px;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {
}
